<div class="row align-items-center justify-content-center">
    <div class="col-sm-10 col-lg-8">
        <h2 class="text-center">
            <a class="btn btn-primary float-left" [routerLink]="StartPageRouterLink">Start Page</a>
            <span>Players records</span>
        </h2>
        <hr>
        <div [hidden]="loading">
            <table id="dataTable" class="table dataTable table-small table-striped display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Wins</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Wins</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let player of playersRecord">
                        <td>{{player.name}}</td>
                        <td>{{player.wins}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div [hidden]="!loading" class="text-center">
            <h6>Loading...</h6>
        </div>
    </div>
</div>