<div class="row justify-content-center">
    <div class="col-sm-10 col-lg-6 col-xl-4">
        <h2 class="text-center">Round #{{roundNumber}}</h2>
        <hr />

        <!-- [TODO] I don't like this approach. -->
        <h3>{{turnNumber === 1 ? player1Move.Player.Name : player2Move.Player.Name}}</h3>
        <form id="matchForm" novalidate #form="ngForm" (ngSubmit)="submit(form)">
            <div class="form-group">
                <div class="row">
                    <label class="col-4 col-form-label" for="currentPlayerMove">Select Move:</label>
                    <div class="col-8">
                        <select id="currentPlayerMove" name="currentPlayerMove" class="form-control" [class.submitted]="submitted">
                          <option disabled selected value=""></option>
                          <option *ngFor="let item of possibleMoves" [ngValue]="item">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <small *ngIf="submitted && invalid" class="text-danger">
                          *You must select a move.
                        </small>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-0">
                <div class="col">
                    <button class="btn btn-outline-primary btn-block" type="submit">Ok</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-1" [hidden]="roundNumber <= 1"></div>
    <div class="col-sm-10 col-lg-6 col-xl-4" [hidden]="roundNumber <= 1">
        <h3 class="text-left">Score</h3>
        <hr />
        <table class="table table-sm">
            <thead class="thead-default">
                <tr class="text-center">
                    <th>Round</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of roundsScores; let i = index" class="text-center">
                    <td>{{i + 1}}</td>
                    <td>{{result}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>