/* You can add global styles to this file, and also import other style files */

input.ng-dirty.ng-invalid,
input.submitted.ng-invalid,
input.ng-dirty.custom-validation.invalid {
    border: 2px solid #ff0000
}

input.ng-dirty.ng-valid {
    border: 2px solid #6bc502
}

table.table thead tr.text-center th {
    text-align: center;
}